In [ ]:
import pandas as pd

In [ ]:
#What is module/library?
#What is pandas library
#installing pandas

In [ ]:
#Data Structure:
# Data Structure in Pandas:
# A data structure is a collection of data values and operations that can be applied to that data. It enables
# efficient storage, retrieval and modification to the data. Eg: Dictionary, list, tuple

# Two commonly used data structures in
# Pandas that we will cover in this book are:
# • Series
# • DataFrame

In [110]:
series1 = pd.Series([10,20,30])
print(series1)

s1 = pd.Series()

0    10
1    20
2    30
dtype: int64
True

In [4]:
series1 = pd.Series([10,20.0,30])
print(series1)

0    10.0
1    20.0
2    30.0
dtype: float64

In [174]:
series1 = pd.Series([10,20,"30"])
print(series1)
# print(type(series1[2])) 

# By definition and documentation Series are homogenous.
# Series are defined as:
# One-dimensional ndarray with axis labels (including time series).

# ndarray are defined as:
# An array object represents a multidimensional, homogeneous array of fixed-size items.

# Series of dtype object, however, are tricky. Since virtually everything in python can be considered an object, 
# a huge amount of different types of variables can be referenced by this kind of Series. So while the Series itself is a
# homogenous collection of references to objects, those individual objects when referenced may have heterogenous subtypes

0    10
1    20
2    30
dtype: object

In [9]:
series1 = pd.Series([10,20,[30,40]]) #Verify Once
print(type(series1[2]), type(series1[1]))

<class 'list'> <class 'int'>

In [13]:
#Adding index separately
s2 = pd.Series(["Kavi","Shyam","Ravi"], index=[3,5,1])
# print(s2[0]) # key Error if accessing index which is not present
print(s2[1])

<class 'str'>

In [14]:
#Using string as index
s3 = pd.Series([2,3,4],index=["Feb","Mar","Apr"])
print(s3)

Feb    2
Mar    3
Apr    4
dtype: int64

In [16]:
import numpy as np # import NumPy with alias np
array1 = np.array([1,2,3,4])
series3 = pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int32

In [ ]:
# When index labels are passed with the array, then the length of the index and array must be of the same
# size, else it will result in a ValueError.
s3 = pd.Series([2,3,4],index=["Feb","Mar"])
print(s3)

In [21]:
# Dictionary keys can be used to construct an index for a Series.
d1 = {'India': 'NewDelhi', 'UK':'London', 'Japan': 'Tokyo'}
s4 = pd.Series(d1)
print(s4)
print("Output:", s4["India"])

India    NewDelhi
UK         London
Japan       Tokyo
dtype: object
Output: NewDelhi

**Accessing Elements**

In [43]:
s1 = pd.Series([10,20,30], index = ["ten","twenty","thirty"])
print(s1.iloc[0]) #Pandas Series.iloc attribute enables purely integer-location based indexing for selection by position 
                  #over the given Series object.
print(s1[1])
print(s1["twenty"])
# print(s1.iloc["twenty"]) #This will throw error as iloc is purely integer based indexing, it is type error.
# print(s1.iloc[5]) #Observer here index is out of range so it would throw index error
print(s1.iloc[-3]) #Negative indexing also works

10
20
20
10

C:\Users\vivek\AppData\Local\Temp\ipykernel_4676\1450410678.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[1])

--Accessing multiple values

In [49]:
s1 = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'])
print(s1[[1,3]])

1    WashingtonDC
3           Paris
dtype: object

In [50]:
s5 = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'],index=['India', 'USA', 'UK', 'France'])
s5[["India","UK"]]

India    NewDelhi
UK         London
dtype: object

In [52]:
s5 = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'],index=['India', 'USA', 'UK', 'France'])
s5.iloc[[0,3]]

India     NewDelhi
France       Paris
dtype: object

--Changing Index of existing series

In [55]:
s5 = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'],index=['India', 'USA', 'UK', 'France'])
print(s5)
s5.index=[10,20,30,40]
s5

India         NewDelhi
USA       WashingtonDC
UK              London
France           Paris
dtype: object

10        NewDelhi
20    WashingtonDC
30          London
40           Paris
dtype: object

**Slicing**

In [74]:
s5 = pd.Series(['NewDelhi', 'WashingtonDC', 'London','Paris'], index=['India', 'USA', 'UK', 'France'])
# print(s5[0:2])
# print(s5['India':"UK"]) # observer the difference in label based slicing
# print(s5['France':"UK"]) #Here it returns nothing as it is not valid range
# print(s5['France':"UK":-1]) #Here negative index defines direction, don't worry much it is advanced concept
#                             #Note it down for now later we can discuss
# print(s5[::-1])

France           Paris
UK              London
USA       WashingtonDC
India         NewDelhi
dtype: object

In [75]:
s5 = pd.Series(['NewDelhi', 'WashingtonDC', 'London','Paris'], index=['India', 'USA', 'UK', 'France'])
# print(s5.iloc[0:2])
# print(s5.iloc[-3:-1])
# print(s5.iloc[0:2:-1])
print(s5.iloc[::-1])

France           Paris
UK              London
USA       WashingtonDC
India         NewDelhi
dtype: object

**Using slicing to modify the values**

In [94]:
s1 = pd.Series(np.arange(10,16,1),index = ['a', 'b', 'c', 'd', 'e', 'f'])

s1[0:3] = 50

# s1[0:3] = [50,60,70]
# s1[0:3] = [50,60]

print(s1)

a    10
b    11
c    12
d    50
e    50
f    15
dtype: int32

In [91]:
s1 = pd.Series(np.arange(10,16,1),index = ['a', 'b', 'c', 'd', 'e', 'f'])

# s1.iloc[0:3] = 50

# s1.iloc[0:3] = [50,60,70]
# s1.iloc[0:3] = [50,60]

print(s1)

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int32

**Attributes of Series**

In [108]:
s5 = pd.Series(['NewDelhi', 'WashingtonDC', 'London','Paris'], index=['India', 'USA', 'UK', 'France'])

# s5.name = "Capitals"
# print(s5.name)

# print(s5.index)

# s5.index.name = "Countries"
# print(s5.index.name)
# print(s5)

print(s5.values)

print(s5.size)

print(s5.empty)

['NewDelhi' 'WashingtonDC' 'London' 'Paris']
4
False

**Methods in series**

In [117]:
s5 = pd.Series([10,20,50,70,40,100])

print(s5.head()) #default is 5 values
print(type(s5.head()))
print(s5.head(2))

0    10
1    20
2    50
3    70
4    40
dtype: int64
<class 'pandas.core.series.Series'>
0    10
1    20
dtype: int64

In [118]:
s5 = pd.Series([10,20,50,70,40,100])
print(s5.count()) # returns non NaN values

6

In [119]:
s5 = pd.Series([10,20,50,70,40,100])
print(s5.tail())

1     20
2     50
3     70
4     40
5    100
dtype: int64

**Operations on series**

In [132]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,-10,-50,60])
print(s1+s2)

0    11
1    22
2    -7
3   -46
4    65
dtype: int64

In [161]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,-10,-50])
s3 = s1+s2
print(s3)
# print(type(s3[4])) #<class 'numpy.float64'>

0    11.0
1    22.0
2    -7.0
3   -46.0
4     NaN
dtype: float64
<class 'numpy.float64'>

In [130]:
s1 = pd.Series([11,22], index =['a', 'b'])
s2 = pd.Series([10,20],index = ['z','a'])

print(s1+s2)

#Practice Question
# s1 = pd.Series([1,2,3,4,5], index =['a', 'b', 'c', 'd', 'e'])
# s2 = pd.Series([10,20,-10,-50,100],index = ['z', 'y', 'a', 'c', 'e'])
# print(s1+s2) #Since NaN is there in output it is in decimal

a    31.0
b     NaN
z     NaN
dtype: float64

In [ ]:
# Explanation of practice
# index s1 s2  s1+s2
# a     1 -10   -9.0
# b     2        NaN
# c     3 -50   -47.0
# d     4        NaN
# e     5  100   105.00
# y        20    NaN
# z        10    NaN

In [134]:
# Using fill_value
s1 = pd.Series([11,22], index =['a', 'b'])
s2 = pd.Series([10,20],index = ['z','a'])
s1.add(s2, fill_value=0)

a    31.0
b    22.0
z    10.0
dtype: float64

In [138]:
#SUBSTRACTION
s1 = pd.Series([11,22], index =['a', 'b'])
s2 = pd.Series([10,20],index = ['z','a'])
print(s1-s2)

# print(s1.sub(s2, fill_value=0))

#Practice
# print(s1.sub(s2, fill_value=100))

a   -9.0
b    NaN
z    NaN
dtype: float64
a    -9.0
b    22.0
z   -10.0
dtype: float64
a    -9.0
b   -78.0
z    90.0
dtype: float64

In [140]:
s1 = pd.Series([11,22], index =['a', 'b'])
s2 = pd.Series([10,20],index = ['z','a'])

# print(s1*s2)
# print(s1.mul(s2,fill_value=1))

a    220.0
b      NaN
z      NaN
dtype: float64
a    220.0
b     22.0
z     10.0
dtype: float64

In [162]:
s1 = pd.Series([101,202], index =['a', 'b'])
s2 = pd.Series([10,20],index = ['z','a'])

s3 = s1/s2
print(s3)

# print(s1.div(s2,fill_value=1))
# print(s1.div(s2,fill_value=0))

a    5.05
b     NaN
z     NaN
dtype: float64

In [165]:
s1 = pd.Series([101,202], index =['a', 'b'])
s2 = pd.Series([10,20],index = ['z','a'])

s3 = s1/s2
# print(s3.fillna(0)) # It returns the value, does not change the original series
# print(s3)

# s3 = s1/s2
# s3 = s3.fillna(0)
# print(s3)

a    5.05
b    0.00
z    0.00
dtype: float64

In [170]:
s1 = pd.Series([10,20,60,50])
print(s1.sum())

140